{{#each this}}
  <div class='cocktail-box'>
    <img
      class='cocktail-box__img img'
      src='{{strDrinkThumb}}/preview'
      alt='{{strDrink}}'
    />
    <div class='buttons-box'>
      <h3 class='cocktail-box__cocktail-name'>{{strDrink}}</h3>
      <div class='buttons'>
        <button class='buttons__learn-more' id='{{idDrink}}'>Learn more</button>
        <button class='buttons__add-to'>Add to
          {{! <svg width='15' height='15'>
            <use href='../img/icon/spite.svg#icon-heart'></use>
          </svg> }}
        </button>
      </div>
    </div>
  </div>
{{/each}}