<div class="container">
  <h2 class="modal-cocktail__title">Negroni</h2>
  <div class="flex-wrapper">
    <div class="modal-cocktail__wrapper">
      <h3 class="modal-cocktail__subtitle">Instractions:</h3>
      <p class="modal-cocktail__info">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel.
      </p>
    </div>

    <div class="ingridients__wrapper">
      <div class="modal-cocktail__img-wrapper">
        <img class="modal-cocktail__img" src="#" alt="#" />
      </div>
      <div>
        <h2 class="modal-cocktail__title--tablet">Negroni</h2>
        <h3 class="ingridients__title">INGREDIENTS</h3>
        <h4 class="ingridients__subtitle">Per cocktail</h4>
        <ul class="ingridients__list">
          <li class="ingridients__item">
            <a class="ingridients__link" href=""> &#10038; ice</a>
          </li>
          <li class="ingridients__item">
            <a class="ingridients__link" href=""> &#10038; 1 ounce gin</a>
          </li>
          <li class="ingridients__item">
            <a class="ingridients__link" href=""> &#10038; 1 ounce Campari</a>
          </li>
          <li class="ingridients__item">
            <a class="ingridients__link" href="">
              &#10038; 1 ounce sweet vermouth</a
            >
          </li>
          <li class="ingridients__item">
            <a class="ingridients__link" href="">
              &#10038; Garnish: orange peel</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="favorite-btn__wrapper">
    <button type="button" class="favorite-btn">
      <span class="favorite-btn__text"> Add to favorite</span>
    </button>
  </div>
  <button class="close-btn" type="button">
    <svg class="button__icon" width="17.8" height="17.8">
      <use href="./img/icon/spite.svg#icon-close"></use>
    </svg>
  </button>
</div>
