<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/index.scss" />
    <title>Ingredients</title>
  </head>
  <body>
    <section class="fav-ingredients">
      <div class="container">
        <h2 class="fav-ingredients__title">Favorite ingredients</h2>
        <ul class="fav-list">
          <li class="fav-ingredients__item">
            <h2 class="item__title">Campari</h2>
            <p class="item__text">Liqueur</p>
            <div class="fav-list__btn__wrapper">
              <button class="item__btn1">Learn more</button>
              <button class="item__btn2">Remove</button>
            </div>
          </li>
          <li class="fav-ingredients__item">
            <h2 class="item__title">Campari</h2>
            <p class="item__text">Liqueur</p>
            <div class="fav-list__btn__wrapper">
              <button class="item__btn1">Learn more</button>
              <button class="item__btn2">Remove</button>
            </div>
          </li>
          <li class="fav-ingredients__item">
            <h2 class="item__title">Campari</h2>
            <p class="item__text">Liqueur</p>
            <div class="fav-list__btn__wrapper">
              <button class="item__btn1">Learn more</button>
              <button class="item__btn2">Remove</button>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
