<!-- <header class="header">
  <div class="header__container container"> -->
<!-- list navigation -->
<!-- <nav class="header__nav">
      <a class="logo__nav--link" href="#" rel="noreferrer noopener nofollow">
        <picture>
          <source
            srcset="
              ./img/header/logo@1x-desc.png 1x,
              ./img/header/logo@2x-desc.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/header/logo@1x-tabl.png 1x,
              ./img/header/logo@2x-tabl.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/header/logo@1x-mob.png 1x
             ./img/header/logo@2x-mob.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="logo__nav"
            src="./img/header/logo@1x-desc.png"
            alt="page-logo"
          />
        </picture>
      </a>
      <ul class="menu__nav">
        <li class="menu__nav--item">
          <a
            class="menu__nav--link"
            href="#"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Home</a
          >
        </li>
        <li class="menu__nav--item">
          <a
            class="menu__nav--link"
            href="#"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Favorite</a
          >
          <ul class="sub__menu none">
            <li class="sub__menu--item top">
              <a
                href="/src/favourite-cocktail.html"
                rel="noreferrer noopener nofollow"
                >Favorite cocktails</a
              >
            </li>
            <li class="sub__menu--item bottom">
              <a
                href="/src/favourite-ingredient.html"
                rel="noreferrer noopener nofollow"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav> -->

<!-- button burger -->
<!-- <button class="burger js-modal-open">
      <svg width="30px" height="16px">
        <use href="./img/icon/spite.svg#icon-menu"></use>
      </svg>
    </button> -->

<!-- switcher for theme -->
<!-- <div class="header__switch">
      <span class="header__switch--light">Light</span>
      <span>
        <label class="switcher">
          <input type="checkbox" />
          <span class="dark__button" data-theme="light"></span>
        </label>
      </span>
      <span class="header__switch--dark">Dark</span>
    </div> -->
<!-- form -->
<!-- <form class="header__form">
      <input
        class="header__input"
        type="text"
        name="searchCoctail"
        placeholder="Search"
      />
      <button class="header__search--btn" type="submit"></button>
    </form> -->

<!-- modal -->
<!-- <div class="header__modal hidden js-modal">
      <div class="modal__wrapper">
        <a
          class="modal__logo"
          href="/src/index.html"
          rel="noreferrer noopener nofollow"
        >
          <picture></picture>
        </a>

        <div class="header__switch--modal">
          <span class="header__switch--light">Light</span>
          <span>
            <label class="switcher">
              <input type="checkbox" />
              <span class="dark__button" data-theme="light"></span>
            </label>
          </span>
          <span class="header__switch--dark">Dark</span>
        </div>

        <button class="modal__close--btn" type="button">
          <svg>
            <use></use>
          </svg>
        </button>
      </div>

      <form class="header__form--modal">
        <input
          class="header__input--modal"
          type="text"
          name="searchCoctail"
          placeholder="Search"
        />
        <button class="header__search--btn--modal" type="submit">
          <svg>
            <use></use>
          </svg>
        </button>
      </form>

      <ul class="menu__nav--modal">
        <li class="menu__nav--modal--item">
          <a
            class="menu__nav--modal--link"
            href="#"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Home</a
          >
        </li>
        <li class="menu__nav--modal--item">
          <a
            class="menu__nav--modal--link"
            href="#"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Favorite</a
          >

          <button class="btn__drop-down">
            <svg>
              <use></use>
            </svg>
          </button>

          <ul class="sub__menu--modal">
            <li class="sub__menu--modal--item">
              <a
                class="sub__menu--modal--link"
                href="#"
                rel="noreferrer noopener nofollow"
                >Favorite cocktails</a
              >
            </li>
            <li class="sub__menu--modal--item">
              <a
                class="sub__menu--modal--link"
                href="#"
                rel="noreferrer noopener nofollow"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="overlay"></div>
  </div>
</header> -->

<header class="header">
  <div class="header__container">
    <div class="logo__wrapper">
      <a
        class="logo__wrapper--link"
        href="./index.html"
        rel="noreferrer noopener nofollow"
      >
        <picture>
          <source
            srcset="
              ./img/header/logo@1x-desc.png 1x,
              ./img/header/logo@2x-desc.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/header/logo@1x-tabl.png 1x,
              ./img/header/logo@2x-tabl.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/header/logo@1x-mob.png 1x
             ./img/header/logo@2x-mob.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            class="logo__nav"
            src="./img/header/logo@1x-desc.png"
            alt="page-logo"
          />
        </picture>
      </a>
    </div>

    <nav class="header__nav">
      <ul class="header__nav--list">
        <li class="header__nav--item">
          <a class="header__nav--link" href="./index.html"> Home </a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#"> Favorite </a>
          <ul class="favorite-div none">
            <li class="favorite-div-item top">
              <a
                href="./favourite-cocktail.html"
                rel="noreferrer noopener nofollow"
                >Favorite cocktails</a
              >
            </li>
            <li class="favorite-div-item bottom">
              <a
                href="./favourite-ingredient.html"
                rel="noreferrer noopener nofollow"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <form class="header__form">
      <input
        class="header__input"
        type="text"
        name="searchCoctail"
        placeholder="Search"
      />
      <button class="header__form--btn" type="submit">
        <svg width="24" height="24">
          <use href="/src/img/icon/spite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <button class="burger js-modal-open">
      <svg width="30px" height="16px">
        <use href="./img/icon/spite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <!-- modal -->
  <div class="header__modal hidden js-modal">
      <div class="header__modal--top">
        <a
          class="header__modal--logo"
          href="./index.html"
          rel="noreferrer noopener nofollow"
        >
          <picture>
            <source
            srcset="
              ./img/header/logo@1x-tabl.png 1x,
              ./img/header/logo@2x-tabl.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
            />
            <img
            class="logo__nav"
            src="./img/header/logo@1x-tabl.png"
            alt="page-logo"
          />
          </picture>
        </a>

        <button
          type="button"
          class="header__modal-close"
        >
          <svg class="#" width="18px" height="18px">
            <use href="./img/icon/spite.svg#icon-close"></use>
          </svg>
        </button>
      </div>

 <nav>
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a
              class="header__nav"
              href="./index.html"
              rel="noreferrer noopener nofollow"
              >Home</a
            >
          </li>
          <li class="header__nav-item">
            <a
              class="header__nav"
              href=""
              rel="noreferrer noopener nofollow"
              >Favorite</a
            >

            <button class="btn-down favorite-modal">
              <svg width="18px" height="10px">
                <use href="./img/icon/spite.svg#icon-v"></use>
              </svg>
            </button>

            <ul class="favorite-div-modal none">
              <li class="favorite-div-item top">
                <a href="./favourite-cocktail.html" rel="noreferrer noopener nofollow"
                  >Favorite cocktails</a
                >
              </li>
              <li class="favorite-div-item bottom">
                <a
                  href="./favourite-ingredient.html"
                  rel="noreferrer noopener nofollow"
                  >Favorite ingredients</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="overlay"></div>
  </div>
</header>
