<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/index.scss" />
    <title>Ingredients</title>
  </head>
  <body>
    <section class="ingredient">
      <div class="container">
        <div class="ingredient__title__wrapper">
          <h1 class="ingredient__title">Campari</h1>
          <h2 class="ingredient__subtitle">Liqueur</h2>
        </div>
        <p class="ingredient__text">
          <span class="ingredient__text__span">Campari</span> is an Italian
          alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or
          28.5% ABV, depending on the country in which it is sold), obtained
          from the infusion of herbs and fruit (including chinotto and
          cascarilla) in alcohol and water. It is a bitters, characterised by
          its dark red colour.
        </p>
        <ul class="ingredient-list">
          <li class="ingredient-list__item">Type:</li>
          <li class="ingredient-list__item">Country of origin:</li>
          <li class="ingredient-list__item">Alcohol by volume:</li>
          <li class="ingredient-list__item">Flavour:</li>
        </ul>
        <div class="btn__wrapper">
          <button class="ingredient__btn">Add to favorite</button>
          <button class="ingredient__btn hidden">Remove from favorite</button>
        </div>
      </div>
    </section>
  </body>
</html>
