.cocktail {
	//   text-align: -webkit-center;

	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 32px;
	}

	@media screen and (min-width: $desctop) {
		font-size: 32px;
		line-height: 1.19;
		// max-width: 395px;
		// height: 560px;
	}
}
.cocktail__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 32px;
}

.cocktail__item {
	flex-basis: 100%;
	border: 1px solid #fd5103;
	border-radius: 4px;
	// display: flex;
	// flex-direction: column;
	@media screen and (min-width: $tablet) {
		flex-basis: calc((100% - 32px) / 2);
	}
	@media screen and (min-width: $desctop) {
		flex-basis: calc((100% - 32px * 2) / 3);
	}
}
.cocktail__img-wrapper {
	margin-bottom: 40px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 20px;
	}
}
.cocktail__img {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 100%;
}

.cocktail__content {
	padding: 0 21px 24px 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 auto;
	@media screen and (min-width: $tablet) {
		padding: 0 20px 20px;
	}
	@media screen and (min-width: $tablet) {
		padding: 0 28px 28px;
	}
}

.cocktail__name {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 26px;
	line-height: 42px;
	text-align: center;

	margin-bottom: 16px;

	@media screen and (min-width: $tablet) {
		font-size: 28px;
		line-height: 33px;
		margin-bottom: 25px;
	}
	@media screen and (min-width: $desctop) {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 27px;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;

	@media screen and (min-width: $tablet) {
		// justify-content: center;
	}

	&__learn-more,
	&__add-to {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 110px;
		width: 100%;
		padding: 8px 0;
		// height: 40px;

		font-family: var(--roboto-alternate-family);
		font-size: 14px;
		line-height: 1.71;
		// color: var(--accent-text-color);
		letter-spacing: 0.02em;

		background: none;

		outline: 2px solid var(--accent-text-color);
		border-radius: 4px;
	}

	&__learn-more {
		border: none;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		color: var(--main-white-color);
		background-color: var(--accent-button-color);

		@media screen and (min-width: $tablet) {
			max-width: 160px;
			padding: 12px 0;
		}

		@media screen and (min-width: $desctop) {
			max-width: 185px;
		}
	}

	&__add-to {
		border: none;
		color: var(--accent-text-color);
		@media screen and (min-width: $tablet) {
			max-width: 125px;
			padding: 12px 0;
		}

		@media screen and (min-width: $desctop) {
			max-width: 145px;
		}

		&__img {
			width: 21px;
			height: 19px;

			margin-left: 4px;
		}
	}

	&__learn-more:hover,
	&__learn-more:focus {
		background-color: var(--main-white-color);
		color: var(--accent-text-color);
		border-radius: 4px;
		filter: none;
	}
	&__learn-more:active {
		color: var(--main-white-color);
		background-color: var(--accent-text-color);
	}

	&__add-to:hover,
	&__add-to:focus {
		background-color: var(--main-white-color);
		outline: 1px solid var(--accent-text-color);
	}
	&__add-to:active {
		outline: 1px solid var(--accent-text-color);
	}
}
