.cocktail {
  text-align: -webkit-center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  // @media screen and (min-width: $desctop) {
  //   font-size: 32px;
  //   line-height: 1.19;
  //   max-width: 395px;
  //   height: 560px;
  // }
}

.cocktail-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 20px;

  height: 450px;
  max-width: 280px;

  border: 1px solid var(--accent-text-color);
  border-radius: 4px;

  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  @media screen and (min-width: $tablet) {
    font-size: 28px;
    line-height: 1.18;
    max-width: 350px;
    height: 545px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desctop) {
    font-size: 32px;
    line-height: 1.19;
    max-width: 396px;
    height: 560px;
  }

  &__img {
    @media screen and (min-width: $tablet) {
      min-width: 335px;
    }

    @media screen and (min-width: $desctop) {
      min-width: 394px;
    }
  }

  &__cocktail-name {
    margin-bottom: 16px;
    text-align: center;
  }
}

.buttons {
  display: flex;
  padding-bottom: 24px;
  justify-content: space-around;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }

  &__learn-more,
  &__add-to {
    width: 110px;
    height: 40px;

    font-family: var(--roboto-alternate-family);
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-text-color);
    letter-spacing: 0.02em;

    background: none;

    border: 1px solid var(--accent-text-color);
    border-radius: 4px;
  }

  &__learn-more {
    color: var(--main-white-color);
    background-color: var(--accent-text-color);

    @media screen and (min-width: $tablet) {
      width: 160px;
      height: 50px;
      margin-right: 12px;
    }

    @media screen and (min-width: $desctop) {
      width: 185px;
      margin-right: 16px;
    }
  }

  &__add-to {
    @media screen and (min-width: $tablet) {
      width: 125px;
      height: 50px;
    }

    @media screen and (min-width: $desctop) {
      width: 145px;
    }
  }

  &__learn-more:hover,
  &__learn-more:focus {
    background: #fe7031;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__learn-more:active {
    border: none;
    color: var(--accent-text-color);
    background-color: var(--main-white-color);
    filter: none;
  }

  &__add-to:hover,
  &__add-to:focus {
    border: 2px solid var(--accent-text-color);
  }
  &__add-to:active {
    background-color: var(--main-white-color);
    border: 1px solid var(--accent-text-color);
  }
}
